@model GameLogic.Shop
@{
    ViewBag.Title = "Shop";
    var weapons = Model.Equipment.FindAll(i => i.EquipmentType == "Weapon");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shop</title>
</head>
<body>
    <div>
        Welcome to the Shop!
    </div>
    <div>
        You have @Html.ValueFor(m => m.PlayerAtShop.Cash) to spend.
    </div>
    <div>Weapons
        <table>
            <tr>
                <td>Weapon Name</td><td>Weapon Cost</td><td>Buy</td>
            </tr>
        @foreach (GameLogic.Equipment i in weapons)
        {
            <tr>
                <td>@i.Name</td>
                <td>@i.Price</td>
                <td>
                    @using (Html.BeginForm("PurchaseEquipment", "Game", new { Name = @i.Name }))
                    {
                        <button type="submit" @Model.PlayerAtShop.CanAffordEquipment(i) && @Model.PlayerAtShop.CanEquipEquipment(i)
                            ?"" : "disabled=/"disabled/"">Buy</button>
                    }
                    </td>
            </tr>
        }
        </table>
    </div>
</body>
</html>
